
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;600&family=Hubballi&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@300;500&family=Rowdies:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
    
    
    
}

body {
    background-color: #fff;
    color: black;
    font-family: 'Hubballi', cursive;
    

}

header a {
    text-decoration: none;
}
header {
    
    background-color: #333533;
    height: 80px;
    display: flex;
    justify-content: space-around;
    width: 0px auto;
    background-image: url(images/earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   

}

#brand{
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
   
}

#brand a{
    color: #F5CB5C;
}
#brand a:hover{
    color: #E8EDDF;
}
#brand a:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
   
}
ul a{
    color: #E8EDDF;
    font-weight: 900;
    font-size: 18px;
}
ul a:hover{
    color: #F5CB5C;
}

ul li{
    padding: 5px;
    margin-left: 10px;
    
}

ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

#hire-me {
    background-color: #F5CB5C;
    padding: 5px 25px;
    border-radius: 5px;
    box-shadow: 2px 2px #E8EDDF;
    color: #242423; 
    font-size: 20px;
}



#hire-me:hover{

   background-color:#333533 ;
   padding: 5px 25px;
   border-radius: 5px;
   box-shadow: 2px 2px #E8EDDF;
   color:  #F5CB5C;
}

.fa-solid{
    
    font-size: 20px;
    padding-bottom: 3px;
}



#hamburger-icon{
    
    display: none;
    cursor: pointer;
}

#hamburger-icon div{
    width: 25px;
    height: 2px;
    background-color: #E8EDDF ;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{opacity: 0;

}

.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;

    
}
.mobile-menu{
    display: none;
    position: absolute;
    top:50;
    right:0;
    height: 100%;
    width:100%;
    background-color:#242423;
    
   
}

.mobile-menu a {
    padding-top: 40px;
}


/*  Header style begins here*/

.main{
    background-color: #242423;
    background-image: url(images/universe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
 
}

.container{
    width: 1160px;
    margin: 0px auto;
    padding: 0px 20px;
   
   
  
}

.main .container{
    display: flex;
    justify-content:space-around;
    padding-bottom: 50px;
   
    
}

.main .container .left-side{
    padding-top: 100px;
   
}

.main .container h1{
    font-size: 55px;
    padding-bottom: 15px;
    color: #E8EDDF;
    
    
}







.left-side{
    width: 50%;
}
.right-side{
    width: 50%;
    overflow: hidden;
    
    

    

   
}

.right-side img{
    width: 80%;
    margin-bottom: 30px;
    margin-left: 80px;
    
    
   
    
    
}
.right-side img:hover{

    transform: scale(1.1);
    transition: 0.3s;
    
}


.main-button{
    background-color: #F5CB5C;
    padding: 5px 25px;
    border-radius: 5px;
    box-shadow: 2px 2px #E8EDDF;
    color: #242423; 
    font-weight: 900;
    font-size: 18px;
   
}
.main-button:hover{
   background-color:#242423 ;
   padding: 5px 25px;
   border-radius: 5px;
   box-shadow: 2px 2px #E8EDDF;
   color:  #F5CB5C;
   transform: scale(1.1);
   transition: 0.3s;

}
.different-button-color{
    background-color: #CFDBD5 ;
    box-shadow: 2px 2px #F5CB5C;

}


.left-side a{
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-decoration: none ;
    align-items: center;
}

.button-align{
    display: flex;
    margin-top: 30px;
    
}
.button-align a{
    margin-right: 30px;
}
    
   

.background-picture{
   
    margin-top: 70px;
    
    
  
   
}


 



/*  Header style finishes here*/
.about{
    background-color: #E8EDDF;
}
.about .about-left{
    width: 50%;
}

.about > .container{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}




.about-left img{
    width: 80%;
    

}

.about-right{
    width: 50%;

}

.about-right h2{
    margin-top: 80px;
    margin-left: 40px;
    font-size: 35px;

}
.about-social{
    margin-top: 30px;
    margin-left: 42px;
}
.fa-brands{
    font-size: 30px;
    margin-right: 20px;
}


.fa-linkedin{
    
    background: -webkit-linear-gradient(#F5CB5C, #242423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}


.fa-linkedin:hover{

    transform: scale(1.1);
    transition: 0.3s;
    
}


.fa-github{
    
    background: -webkit-linear-gradient(#242423,#F5CB5C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-github:hover{

    transform: scale(1.1);
    transition: 0.3s;
    
}

.fa-facebook-square{
    
    background: -webkit-linear-gradient(  #F5CB5C, #242423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.fa-facebook-square:hover{

    transform: scale(1.1);
    transition: 0.3s;
    
}



.fa-twitter{
    
    background: -webkit-linear-gradient(#242423,#F5CB5C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-twitter:hover{

    transform: scale(1.1);
    transition: 0.3s;
    color: #F5CB5C;
}


.fa-github{
    
    background: -webkit-linear-gradient(#242423,#F5CB5C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-github:hover{

    transform: scale(1.1);
    transition: 0.3s;
    
}








@media only screen and (max-width: 600px) {
    
    header{
        height: 100%;
       
        
        
    }
    header nav {
      display: none;
    }
    #hamburger-icon{
        display: block;
       
        
        
        

    }

    #brand{
        font-size: 24px;
    }

    #hire-me{
        margin-top: 40px;
  }
    #hire-me:hover{
        background-color: #242423;
    }


  .main .container{
      flex-direction: column;
      align-items: flex-start;
      overflow-x: hidden;
      
    
      
  }

  .main{
    overflow-x: hidden;
   
    
    
  }
  .main .container  h1{
      font-size: 40px;
      
      
      
  }
  .left-side{
      padding-right: 30px;
      object-fit: contain;
  }
  .right-side > img{
      padding-right: 150px;
      margin-top:100px ;
      
     
  }


   
}